<div class="container">
  <div class="row">
    <div class="col-12 col-md-3 dashboard">
      <app-dashboard [categories]="categories" [currentTab]="currentTab" (tabChanged)="handleTabChange($event)"></app-dashboard>
    </div>
    <div class="col-12 col-md-9 presentation-area">
      <div class="row" *ngIf="isScreenWide">
        <div class="col-12 tab-title d-flex align-items-end justify-content-center">
          <h1>{{currentTab}}</h1>
        </div>
        <div class="col-1 offset-11">
          <button mat-icon-button>
            <mat-icon>more_horiz</mat-icon>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          
          <div *ngFor="let task of tasksToDisplay" class="d-flex">
            <span>{{task.name}}</span>
            <span *ngIf="task.dueDate">{{task.dueDate}}</span>
            <mat-chip *ngFor="let chip of task.categories">{{chip}}</mat-chip>
            <button mat-button>delete</button>
            <span></span>
          </div>
          <button mat-button (click)="test()">update</button>
        </div>
      </div>
    </div>
  </div>
</div>
<mat-spinner class="loader" *ngIf="loading$ | async"></mat-spinner>
