<mat-tab-group>
  <mat-tab label="Dynamic html">
    <app-dynamic-html></app-dynamic-html>
  </mat-tab>
  <mat-tab label="RxJs">
    <app-rxjs></app-rxjs>
  </mat-tab>
  <mat-tab label="Timer">
    <app-spinner></app-spinner>
  </mat-tab>
  <mat-tab label="AM: Cards">
    <app-testing></app-testing>
  </mat-tab>
  <mat-tab label="Bootstrap">
    <app-bootstrap></app-bootstrap>
  </mat-tab>

  <mat-tab label="Third"> Content 3 </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>
<button mat-icon-button></button>
