<mat-tab-group>
  <mat-tab label="Cats">
    <app-cats></app-cats>
  </mat-tab>
  <mat-tab label="Dynamic html">
    <app-dynamic-html></app-dynamic-html>
  </mat-tab>
  <mat-tab label="RxJs">
    <app-rxjs></app-rxjs>
  </mat-tab>
  <mat-tab label="Timer">
    <app-spinner></app-spinner>
  </mat-tab>
  <mat-tab label="AM: Cards">
    <app-testing></app-testing>
  </mat-tab>
  <mat-tab label="Bootstrap">
    <app-bootstrap></app-bootstrap>
  </mat-tab>

  <mat-tab label="Third"> Content 3 </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>
<button mat-icon-button></button>
<div class="spinner-wrapper d-flex justify-content-center align-items-center" *ngIf="isLoading$ | async">
  <mat-spinner></mat-spinner>
</div>
