<section class="container">
  <div class="row">
    <div class="col col-md-4 offset-md-4">
      <form #signUpForm="ngForm" class="py-5" (ngSubmit)="onSubmit(signUpForm.value)">
        <mat-form-field>
          <mat-label>Your email</mat-label>
          <input
            matInput
            #email="ngModel"
            type="email"
            required
            email
            ngModel
            name="email">
          <mat-error *ngIf="email.hasError('required')">This field cannot be empty</mat-error>
          <mat-error *ngIf="!email.hasError('required')">Email is invalid</mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="at least 3 characters">
          <mat-label>Your password</mat-label>
          <input
            matInput
            type="password"
            required
            minlength="3"
            ngModel
            #pass="ngModel"
            name="password">
          <mat-error *ngIf="pass.hasError('required')">This field cannot be empty</mat-error>
          <mat-error *ngIf="pass.value?.length < 3 && pass.value?.length > 0">The password is too short</mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button [disabled]="signUpForm.invalid" color="accent" class="submit-btn">Submit</button>
      </form>
    </div>
  </div>
</section>
