mat-card{
  max-width: 60vh;
  margin: auto;
}

img{
  aspect-ratio: 1/1;
  object-fit: cover;
}

.example-header-image {
  background-image: url('https://static.toiimg.com/photo/msid-67586673/67586673.jpg?3918697');
  background-size: cover;
}


